/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* CONTAINER */

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* CAROUSEL */

.carousel {
    display: flex;
    width: 900px;
    height: 80vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.carousel .active {
    display: block;
}

/* HIGHLIGHTED */

.highlighted {
    width: 80%;
    height: 100%;
}

.highlighted img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
}

h3 {
    width: 100%;
    position: absolute;
    right: 200px;
    bottom: 150px;
    color: white;
    text-align: end;
}

.h3-active{
    display: block;
}

p {
    width: 100%;
    position: absolute;
    right: 200px;
    bottom: 0px;
    color: white;
    text-align: end;
}

.p-active {
    display: block;
}

/* THUMBS */

.thumbs {
    width: 20%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.thumbs img {
    display: block;
    width: 100%;
    height: 0;
    flex: 1 0 0;
    object-fit: cover;
    filter: brightness(.3);
    cursor: pointer;
}

.thumbs .active {
    filter: brightness(1);
    border: 4px solid lightgray;
}

/* CONTROLS */

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    font-size: 1.5rem;
    z-index: 9;
    cursor: pointer;
}